@font-face {
  src: url("src/assets/fonts/ClashGrotesk-Extralight.woff2");
  font-family: "ClashGrotesk";
  font-weight: 200;
  font-style: normal;
}

@font-face {
  src: url("src/assets/fonts/ClashGrotesk-Light.woff2");
  font-family: "ClashGrotesk";
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url("src/assets/fonts/ClashGrotesk-Regular.woff2");
  font-family: "ClashGrotesk";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("src/assets/fonts/ClashGrotesk-Medium.woff2");
  font-family: "ClashGrotesk";
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url("src/assets/fonts/ClashGrotesk-Semibold.woff2");
  font-family: "ClashGrotesk";
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url("src/assets/fonts/ClashGrotesk-Bold.woff2");
  font-family: "ClashGrotesk";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("src/assets/fonts/ClashGrotesk-Variable.woff2");
  font-family: "ClashGrotesk";
  font-weight: 800;
  font-style: normal;
}
