@import "./fonts.scss";


// fonts
$cg-main: "ClashGrotesk";

// Colors
$primary100: #1d9e34;
$primary200: #257e34;
$primary300: #1e4c2f;

$black100: #313736;
$black200: #1d2322;
$black300: #0b0f0e;

$secondary100: #c4c8cc;
$secondary200: #919eab;
$secondary300: #818b9c;

$light-gray100: #f9f9f9;
$light-gray200: #f6f6f6;
$light-gray300: #f1f1f1;

$dgray100: #f7f7f7;
$dgray200: #f6f8fa;
$dgray300: #e4e9ee;

$warning100: #fcece1;
$warning200: #ffd5b8;
$warning300: #ffa439;

$danger100: #f9bcb1;
$danger200: #ef907f;
$danger300: #e04124;
