@import "src/sass/utils/reset.scss";
@import "src/sass/utils/fonts.scss";
@import "src/sass/utils/variables.scss";
@import "src/sass/utils/mixins.scss";

* {
  font-family: $cg-main;
}

body {
  font-family: $cg-main;
}

Link {
  text-decoration: none;
}

.container {
  max-width: 1216px;
  width: 95%;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

form {
  width: 100%;
  height: 100%;
}

.big-container {
  width: 100%;
  height: 88px;
  background-color: white;
  border-bottom: 1px solid #e4e9ee;
}

.header-container {
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  position: relative;
}

.search-box {
  width: 856px;
  max-width: 856px;
  height: 44px;
  background-color: #f6f8fa;
  display: flex;
  align-items: center;
  border-radius: 8px;
  gap: 5px;
}

.search-sort {
  background-color: #f6f8fa;
  width: 110px;
  height: 22px;
  font-weight: 500;
  font-size: 14px;
  border: 0px;
  margin-left: 10px;
  height: 100%;
  cursor: pointer;
}

.search-text {
  background-color: #f6f8fa;
  border: 0px;
  height: 20px;
  color: #818b9c;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  border-radius: 0px 8px 8px 0px;
  border-left: 1px solid $dgray300;
  padding-left: 20px;
}

.search-text,
.search-sort:focus {
  outline: none;
}

.pp-basket {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.cutter2 {
  height: 24px;
  background-color: #e4e9ee;
  width: 1px;
}

.search-logo {
  padding-right: 15px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.h-profile {
  background-color: transparent;
  border: 0px;
  img {
    cursor: pointer;
  }
}

.h-basket {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  div {
    position: absolute;
    background-color: #e04124;
    top: -10px;
    left: 20px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    @include d-flex;
    span{
      color: white;
      font-weight: 500;
      font-size: 12px;
    }
  }
}

.notification-icons {
  @include d-flex;
  gap: 16px;
  button {
    background-color: transparent;
    border: 0px;
  }
}

//BREAK-POINT
@media (max-width: 1024px) {
  .big-container {
    height: 76px;
    .search-sort {
      @include p2-medium;
    }
    .search-text {
      @include p2-medium;
    }
    .pp-basket {
      gap: 12px;
    }
    .notification-icons {
      gap: 12px;
    }
    .header-container {
      gap: 25px;
    }
  }
}

@media (max-width: 768px) {
  .h-logo {
    display: none;
  }
  .big-container {
    height: 60px;
    .search-box {
      height: 34px;
    }
    .search-sort {
      display: none;
    }

    .search-text {
      @include p2-medium;
      border-left: 0px;
      border-radius: 8px;
    }
    .pp-basket {
      gap: 8px;
      img {
        width: 20px;
        height: 20px;
      }
    }
    .notification-icons {
      gap: 8px;
    }
    .header-container {
      gap: 8px;
    }
  }
}
