@import "src/sass/utils/reset.scss";
@import "src/sass/utils/fonts.scss";
@import "src/sass/utils/variables.scss";
@import "src/sass/utils/mixins.scss";

* {
  font-family: $cg-main;
}

body {
  font-family: $cg-main;
}

Link {
  text-decoration: none;
}

.container {
  max-width: 1216px;
  width: 95%;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.article-card {
  width: 384px;
  height: 444px;
  cursor: pointer;
  @include d-flex(column, space-between, flex-start);
  .card-img-container {
    width: 384px;
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 280px;
      transition: 0.6s;
      object-fit: cover;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .card-date {
    @include p1-regular-xs;
    color: $secondary300;
  }
  .card-heading {
    @include h6;
    color: $black300;
  }
  .card-paragraph {
    @include p1-regular-xs;
    color: $secondary300;
  }
}

//BREAK POINTS

@media (max-width: 1024px) {
  .article-card {
    width: 272px;
    height: 316px;
    .card-img-container {
      width: 272px;
      height: 160px !important;
      img {
        width: 272px;
        height: 130px !important;
      }
    }
    .card-date{
      font-size: 14px;
    }
    .card-heading{
      font-size: 16px;
      line-height: 23px;
    }
    .card-paragraph{
      font-size: 14px;
      line-height: 23px;
    }
  }
}
