@import "src/sass/utils/reset.scss";
@import "src/sass/utils/fonts.scss";
@import "src/sass/utils/variables.scss";
@import "src/sass/utils/mixins.scss";

* {
  font-family: $cg-main;
}

body {
  font-family: $cg-main;
}

Link {
  text-decoration: none;
}

.container {
  max-width: 1216px;
  width: 95%;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.profile-parent {
  position: relative;
}

.profile-details {
  z-index: 999;
  position: absolute;
  top: 110px;
  right: 0px;
  background-color: white;
  width: 410px;
  height: 470px;
  border-radius: 8px;
  box-shadow: 10px 10px 5px $secondary100;
  display: block;
  padding: 24px;
}

.hide-profile {
  display: none;
}

.user-info {
  @include d-flex(row, flex-start, center);
  gap: 16px;
  border-bottom: 1px solid $dgray300;
  padding-bottom: 24px;
  .user-name-email {
    @include d-flex(column, center, flex-start);
    gap: 4px;
    .username{
      @include h6;
    }
    .user-gmail{
      color: $secondary300;
    }
  }
}

.wallet-contains {
  margin-top: 24px;
  @include d-flex(column, center, flex-start);
  border-bottom: 1px solid $dgray300;
  padding-bottom: 24px;
  gap: 8px;
  .wallet {
    @include p3-medium;
    color: $secondary300;
  }
  .balance-info {
    @include d-flex(row, space-between, center);
    width: 100%;
    .balance-name {
      @include d-flex;
      gap: 12px;
      span {
        color: $secondary300;
      }
    }
  }
}

.menu-links {
  margin-top: 24px;
  @include d-flex(column, center, flex-start);
  border-bottom: 1px solid $dgray300;
  padding-bottom: 24px;
  gap: 8px;
  .menu {
    @include p3-medium;
    color: $secondary300;
  }
  .menu-link{
    @include d-flex;
    gap: 12px;
    a {
      color: $secondary300;
    }
  }
}

.sign-out-profile{
  background-color: transparent;
  color: $danger300;
  border: 0px;
  @include d-flex;
  margin-top: 24px;
}
