@import "src/sass/utils/reset.scss";
@import "src/sass/utils/fonts.scss";
@import "src/sass/utils/variables.scss";
@import "src/sass/utils/mixins.scss";

* {
  font-family: $cg-main;
}

body {
  font-family: $cg-main;
}

Link {
  text-decoration: none;
}

.container {
  max-width: 1216px;
  width: 95%;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.related-products {
  .related-products-heading {
    @include d-flex(row, space-between, center);
    h6 {
      @include h6;
    }
    button {
      transition: 0.4s;
    }
    button:hover {
      background-color: $primary300 !important;
      color: white !important;
    }
  }
  .related-products-cards {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: 120px;
  }
}
